{port_specs, [
    {"priv/jq.so", [
        "c_src/*.c"
    ]}
]}.

{port_env, [
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "LDFLAGS", "$LDFLAGS -ljq"},
    {"darwin",
        "CFLAGS", "$CFLAGS -I /opt/homebrew/include"},
    {"darwin",
        "LDFLAGS", "$LDFLAGS -L /opt/homebrew/lib"}
]}.

{pre_hooks, [{"", compile, "escript enc compile"}]}.
{post_hooks, [{"", clean, "escript enc clean"}]}.
